<html lang="ru">
  <head>
    <title>КОМПАНИЯ «РОСИНКА»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="site-container">
      <header>
        <div class="header-container">
          <div class="logo">
            <a href="/">
              <img
                id="logo"
                src="/assets/rosinka.png"
                alt="Логотип компании Росинка"
              />
            </a>
          </div>
          <nav class="main-nav">
            <a href="/">Главная</a>
            <a href="/about">О компании</a>
            <a href="/catalog">Каталог</a>
            <a href="/contacts">Контакты</a>
          </nav>
          <div class="header-icons">
            <a href="#" class="icon-link">VK</a>
            <a
              href="https://ok.ru/group/70000002567323"
              target="_blank"
              class="icon-link"
              title="Мы в Одноклассниках"
              rel="noopener noreferrer"
            >
              <img src="/assets/ok.png" alt="OK" class="social-icon" />
            </a>
            <a href="#" class="icon-link">&#128269;</a>
          </div>
        </div>
      </header>

      <main>
        {{{body}}}
      </main>

      <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>О компании</h3>
            <ul>
              <li><a href="/about#timeline-section">История</a></li>
              <li><a href="/about#technology-section">Производство</a></li>
              <li><a href="/contacts">Вакансии</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Продукция</h3>
            <ul>
              <li><a href="/catalog">Минеральная вода</a></li>
              <li><a href="/catalog">Лимонады</a></li>
              <li><a href="/catalog">Холодный чай</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Контакты</h3>
            <ul>
              <li>
                <a
                  href="https://yandex.ru/maps/-/CLSjJDND"
                  target="_blank"
                  rel="noopener noreferrer"
                >📍 г. Липецк, Универсальный проезд, 11</a>
              </li>
              <li>📞 +7 (4742) 30-80-80</li>
              <li>📧 root@liprosinka.ru</li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>КОМПАНИЯ «РОСИНКА» &copy; 2025. Все права защищены.</p>
        </div>
      </footer>
    </div>
  </body>
</html>