<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>КОМПАНИЯ «РОСИНКА»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="site-container">
      <header>
        <div class="header-container">
          <div class="logo">
            <a href="/">
              <img
                id="logo"
                src="/assets/rosinka.png"
                alt="Логотип компании Росинка"
              />
            </a>
          </div>
          <nav class="main-nav">
            <a href="/">Главная</a>
            <a href="/about">О компании</a>
            <a href="/catalog">Каталог</a>
            <a href="/contacts">Контакты</a>
          </nav>
          <div class="header-icons">
            <a href="#">VK</a>
            <a href="#">OK</a>
            <a href="#">&#128269;</a>
          </div>
        </div>
      </header>

      <main>
        {{{body}}}
      </main>

      <footer>
        <p>КОМПАНИЯ «РОСИНКА» &copy; 2025</p>
      </footer>
    </div>
  </body>
</html>