<div class="privacy-page">
  <div class="privacy-container">
    <h2 id="agreement">Соглашение на обработку персональных данных</h2>

    <div class="privacy-content">
      <p>
        Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных
        данных» от 27.07.2006 года свободно, своей волей и в своем интересе
        выражаю свое безусловное согласие на обработку моих персональных данных
        Общество с ограниченной ответственностью «РОСИНКА», зарегистрированным в
        соответствии с законодательством РФ по адресу: 142432, г. Липецк,
        Универсальный проезд, 11 (далее по тексту - Оператор). Персональные
        данные - любая информация, относящаяся к определенному или определяемому
        на основании такой информации физическому лицу.
      </p>

      <p>
        Настоящее Согласие выдано мною на обработку следующих персональных
        данных:
      </p>

      <ul>
        <li>Имя;</li>
        <li>Телефон</li>
        <li>Email;</li>
        <li>IP-адрес.</li>
      </ul>

      <p>
        Согласие дано Оператору для совершения следующих действий с моими
        персональными данными с использованием средств автоматизации и/или без
        использования таких средств: сбор, систематизация, накопление, хранение,
        уточнение (обновление, изменение), использование, обезличивание, а также
        осуществление любых иных действий, предусмотренных действующим
        законодательством РФ как неавтоматизированными, так и
        автоматизированными способами.
      </p>

      <p>
        Данное согласие дается Оператору для обработки моих персональных данных
        в следующих целях:
      </p>

      <ul>
        <li>предоставление мне услуг/работ;</li>
        <li>направление в мой адрес уведомлений, касающихся предоставляемых
          услуг/работ;</li>
        <li>подготовка и направление ответов на мои запросы;</li>
        <li>направление в мой адрес информации, в том числе рекламной, о
          мероприятиях/товарах/услугах/работах Оператора.</li>
      </ul>

      <p>
        Настоящее согласие действует до момента его отзыва путем направления
        соответствующего уведомления на электронный адрес
        customer.service@aqualife.ru. В случае отзыва мною согласия на обработку
        персональных данных Оператор вправе продолжить обработку персональных
        данных без моего согласия при наличии оснований, указанных в пунктах 2 –
        11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального
        закона №152-ФЗ «О персональных данных» от 27.06.2006 г.
      </p>
    </div>

    <hr class="privacy-divider" />

    <h2 id="privacy">Политика конфиденциальности</h2>

    <div class="privacy-content">
      <p>
        Настоящая Политика конфиденциальности персональных данных (далее –
        Политика конфиденциальности) действует в отношении всей информации,
        которую сайт rossinka-shop.ru, (далее – rossinka-shop.ru) расположенный
        на доменном имени rossinka-shop.ru (а также его субдоменах), может
        получить о Пользователе во время использования сайта rossinka-shop.ru (а
        также его субдоменов), его программ и его продуктов.
      </p>

      <h2>1. Определение терминов</h2>
      <p>1.1 В настоящей Политике конфиденциальности используются следующие
        термины:</p>
      <p>
        <strong>1.1.1.</strong>
        «Администрация сайта» (далее – Администрация) – уполномоченные
        сотрудники на управление сайтом rossinka-shop.ru, действующие от имени
        ИП Бугров О.С., которые организуют и (или) осуществляют обработку
        персональных данных, а также определяет цели обработки персональных
        данных, состав персональных данных, подлежащих обработке, действия
        (операции), совершаемые с персональными данными.
      </p>
      <p>
        <strong>1.1.2.</strong>
        «Персональные данные» - любая информация, относящаяся к прямо или
        косвенно определенному, или определяемому физическому лицу (субъекту
        персональных данных).
      </p>
      <p>
        <strong>1.1.3.</strong>
        «Обработка персональных данных» - любое действие (операция) или
        совокупность действий (операций), совершаемых с использованием средств
        автоматизации или без использования таких средств с персональными
        данными, включая сбор, запись, систематизацию, накопление, хранение,
        уточнение (обновление, изменение), извлечение, использование, передачу
        (распространение, предоставление, доступ), обезличивание, блокирование,
        удаление, уничтожение персональных данных.
      </p>
      <p>
        <strong>1.1.4.</strong>
        «Конфиденциальность персональных данных» - обязательное для соблюдения
        Оператором или иным получившим доступ к персональным данным лицом
        требование не допускать их распространения без согласия субъекта
        персональных данных или наличия иного законного основания.
      </p>
      <p>
        <strong>1.1.5.</strong>
        «Сайт rossinka-shop.ru» - это совокупность связанных между собой
        веб-страниц, размещенных в сети Интернет по уникальному адресу (URL):
        rossinka-shop.ru, а также его субдоменах.
      </p>
      <p>
        <strong>1.1.6.</strong>
        «Субдомены» - это страницы или совокупность страниц, расположенные на
        доменах третьего уровня, принадлежащие сайту rossinka-shop.ru, а также
        другие временные страницы, внизу который указана контактная информация
        Администрации
      </p>
      <p>
        <strong>1.1.7.</strong>
        «Пользователь сайта rossinka-shop.ru» (далее Пользователь) – лицо,
        имеющее доступ к сайту rossinka-shop.ru, посредством сети Интернет и
        использующее информацию, материалы и продукты сайта rossinka-shop.ru.
      </p>
      <p>
        <strong>1.1.8.</strong>
        «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и
        хранимый на компьютере пользователя, который веб-клиент или веб-браузер
        каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть
        страницу соответствующего сайта.
      </p>
      <p>
        <strong>1.1.9.</strong>
        «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, через
        который Пользователь получает доступ на rossinka-shop.ru.
      </p>
      <p>
        <strong>1.1.10.</strong>
        «Товар» - продукт, который Пользователь заказывает на сайте и оплачивает
        через платёжные системы.
      </p>

      <h2>2. Общие положения</h2>
      <p>
        <strong>2.1.</strong>
        Использование сайта rossinka-shop.ru Пользователем означает согласие с
        настоящей Политикой конфиденциальности и условиями обработки
        персональных данных Пользователя.
      </p>
      <p>
        <strong>2.2.</strong>
        В случае несогласия с условиями Политики конфиденциальности Пользователь
        должен прекратить использование сайта rossinka-shop.ru.
      </p>
      <p>
        <strong>2.3.</strong>
        Настоящая Политика конфиденциальности применяется к сайту
        rossinka-shop.ru. rossinka-shop.ru не контролирует и не несет
        ответственность за сайты третьих лиц, на которые Пользователь может
        перейти по ссылкам, доступным на сайте rossinka-shop.ru.
      </p>
      <p>
        <strong>2.4.</strong>
        Администрация не проверяет достоверность персональных данных,
        предоставляемых Пользователем.
      </p>

      <h2>3. Предмет политики конфиденциальности</h2>
      <p>
        <strong>3.1.</strong>
        Настоящая Политика конфиденциальности устанавливает обязательства
        Администрации по неразглашению и обеспечению режима защиты
        конфиденциальности персональных данных, которые Пользователь
        предоставляет по запросу Администрации при регистрации на сайте
        rossinka-shop.ru, при подписке на информационную e-mail рассылку или при
        оформлении заказа.
      </p>
      <p>
        <strong>3.2.</strong>
        Персональные данные, разрешённые к обработке в рамках настоящей Политики
        конфиденциальности, предоставляются Пользователем путём заполнения форм
        на сайте rossinka-shop.ru и включают в себя следующую информацию:
      </p>
      <ul>
        <li>3.2.1. фамилию, имя, отчество Пользователя;</li>
        <li>3.2.2. контактный телефон Пользователя;</li>
        <li>3.2.3. адрес электронной почты (e-mail);</li>
        <li>3.2.4. место жительство Пользователя (при необходимости);</li>
        <li>3.2.5. адрес доставки Товара (при необходимости);</li>
        <li>3.2.6. фотографию (при необходимости).</li>
      </ul>
      <p>
        <strong>3.3.</strong>
        rossinka-shop.ru защищает Данные, которые автоматически передаются при
        посещении страниц:
      </p>
      <ul>
        <li>IP адрес;</li>
        <li>информация из cookies;</li>
        <li>информация о браузере;</li>
        <li>время доступа;</li>
        <li>реферер (адрес предыдущей страницы).</li>
      </ul>
      <p>
        <strong>3.3.1.</strong>
        Отключение cookies может повлечь невозможность доступа к частям сайта
        rossinka-shop.ru, требующим авторизации.
      </p>
      <p>
        <strong>3.3.2.</strong>
        rossinka-shop.ru осуществляет сбор статистики об IP-адресах своих
        посетителей. Данная информация используется с целью предотвращения,
        выявления и решения технических проблем.
      </p>
      <p>
        <strong>3.4.</strong>
        Любая иная персональная информация неоговоренная выше (история
        посещения, используемые браузеры, операционные системы и т.д.) подлежит
        надежному хранению и нераспространению, за исключением случаев,
        предусмотренных в п.п. 5.2. и 5.3. настоящей Политики
        конфиденциальности.
      </p>

      <h2>4. Цели сбора персональной информации пользователя</h2>
      <p><strong>4.1.</strong>
        Персональные данные Пользователя Администрация может использовать в
        целях:</p>
      <ul>
        <li>4.1.1. Идентификации Пользователя, зарегистрированного на сайте
          rossinka-shop.ru для его дальнейшей авторизации, оформления заказа и
          других действий.</li>
        <li>4.1.2. Предоставления Пользователю доступа к персонализированным
          данным сайта rossinka-shop.ru.</li>
        <li>4.1.3. Установления с Пользователем обратной связи, включая
          направление уведомлений, запросов, касающихся использования сайта
          rossinka-shop.ru, оказания услуг и обработки запросов и заявок от
          Пользователя.</li>
        <li>4.1.4. Определения места нахождения Пользователя для обеспечения
          безопасности, предотвращения мошенничества.</li>
        <li>4.1.5. Подтверждения достоверности и полноты персональных данных,
          предоставленных Пользователем.</li>
        <li>4.1.6. Создания учетной записи для использования частей сайта
          rossinka-shop.ru, если Пользователь дал согласие на создание учетной
          записи.</li>
        <li>4.1.7. Уведомления Пользователя по электронной почте.</li>
        <li>4.1.8. Предоставления Пользователю эффективной технической поддержки
          при возникновении проблем, связанных с использованием сайта
          rossinka-shop.ru.</li>
        <li>4.1.9. Предоставления Пользователю с его согласия специальных
          предложений, информации о ценах, новостной рассылки и иных сведений от
          имени сайта rossinka-shop.ru.</li>
        <li>4.1.10. Осуществления рекламной деятельности с согласия
          Пользователя.</li>
      </ul>

      <h2>5. Способы и сроки обработки персональной информации</h2>
      <p>
        <strong>5.1.</strong>
        Обработка персональных данных Пользователя осуществляется без
        ограничения срока, любым законным способом, в том числе в информационных
        системах персональных данных с использованием средств автоматизации или
        без использования таких средств.
      </p>
      <p>
        <strong>5.2.</strong>
        Пользователь соглашается с тем, что Администрация вправе передавать
        персональные данные третьим лицам, в частности, курьерским службам,
        организациями почтовой связи (в том числе электронной), операторам
        электросвязи, исключительно в целях выполнения заказа Пользователя,
        оформленного на сайте rossinka-shop.ru, включая доставку Товара,
        документации или e-mail сообщений.
      </p>
      <p>
        <strong>5.3.</strong>
        Персональные данные Пользователя могут быть переданы уполномоченным
        органам государственной власти Российской Федерации только по основаниям
        и в порядке, установленным законодательством Российской Федерации.
      </p>
      <p>
        <strong>5.4.</strong>
        При утрате или разглашении персональных данных Администрация вправе не
        информировать Пользователя об утрате или разглашении персональных
        данных.
      </p>
      <p>
        <strong>5.5.</strong>
        Администрация принимает необходимые организационные и технические меры
        для защиты персональной информации Пользователя от неправомерного или
        случайного доступа, уничтожения, изменения, блокирования, копирования,
        распространения, а также от иных неправомерных действий третьих лиц.
      </p>
      <p>
        <strong>5.6.</strong>
        Администрация совместно с Пользователем принимает все необходимые меры
        по предотвращению убытков или иных отрицательных последствий, вызванных
        утратой или разглашением персональных данных Пользователя.
      </p>

      <h2>6. Права и обязанности сторон</h2>
      <p><strong>6.1.</strong> Пользователь вправе:</p>
      <p>
        <strong>6.1.1.</strong>
        Принимать свободное решение о предоставлении своих персональных данных,
        необходимых для использования сайта rossinka-shop.ru, и давать согласие
        на их обработку.
      </p>
      <p>
        <strong>6.1.2.</strong>
        Обновить, дополнить предоставленную информацию о персональных данных в
        случае изменения данной информации.
      </p>
      <p>
        <strong>6.1.3.</strong>
        Пользователь имеет право на получение у Администрации информации,
        касающейся обработки его персональных данных, если такое право не
        ограничено в соответствии с федеральными законами. Пользователь вправе
        требовать от Администрации уточнения его персональных данных, их
        блокирования или уничтожения в случае, если персональные данные являются
        неполными, устаревшими, неточными, незаконно полученными или не являются
        необходимыми для заявленной цели обработки, а также принимать
        предусмотренные законом меры по защите своих прав.
      </p>
      <p><strong>6.2.</strong> Администрация обязана:</p>
      <p>
        <strong>6.2.1.</strong>
        Использовать полученную информацию исключительно для целей, указанных в
        п. 4 настоящей Политики конфиденциальности.
      </p>
      <p>
        <strong>6.2.2.</strong>
        Обеспечить хранение конфиденциальной информации в тайне, не разглашать
        без предварительного письменного разрешения Пользователя, а также не
        осуществлять продажу, обмен, опубликование, либо разглашение иными
        возможными способами переданных персональных данных Пользователя, за
        исключением п.п. 5.2 и 5.3. настоящей Политики Конфиденциальности.
      </p>
      <p>
        <strong>6.2.3.</strong>
        Принимать меры предосторожности для защиты конфиденциальности
        персональных данных Пользователя согласно порядку, обычно используемого
        для защиты такого рода информации в существующем деловом обороте.
      </p>
      <p>
        <strong>6.2.4.</strong>
        Осуществить блокирование персональных данных, относящихся к
        соответствующему Пользователю, с момента обращения или запроса
        Пользователя, или его законного представителя либо уполномоченного
        органа по защите прав субъектов персональных данных на период проверки,
        в случае выявления недостоверных персональных данных или неправомерных
        действий.
      </p>

      <h2>7. Ответственность сторон</h2>
      <p>
        <strong>7.1.</strong>
        Администрация, не исполнившая свои обязательства, несёт ответственность
        за убытки, понесённые Пользователем в связи с неправомерным
        использованием персональных данных, в соответствии с законодательством
        Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2.,
        5.3. и 7.2. настоящей Политики Конфиденциальности.
      </p>
      <p><strong>7.2.</strong>
        В случае утраты или разглашения Конфиденциальной информации
        Администрация не несёт ответственность, если данная конфиденциальная
        информация:</p>
      <ul>
        <li>7.2.1. Стала публичным достоянием до её утраты или разглашения.</li>
        <li>7.2.2. Была получена от третьей стороны до момента её получения
          Администрацией Ресурса.</li>
        <li>7.2.3. Была разглашена с согласия Пользователя.</li>
      </ul>
      <p>
        <strong>7.3.</strong>
        Пользователь несет полную ответственность за соблюдение требований
        законодательства РФ, в том числе законов о рекламе, о защите авторских и
        смежных прав, об охране товарных знаков и знаков обслуживания, но не
        ограничиваясь перечисленным, включая полную ответственность за
        содержание и форму материалов.
      </p>
      <p>
        <strong>7.4.</strong>
        Пользователь признает, что ответственность за любую информацию (в том
        числе, но не ограничиваясь: файлы с данными, тексты и т. д.), к которой
        он может иметь доступ как к части сайта rossinka-shop.ru, несет лицо,
        предоставившее такую информацию.
      </p>
      <p>
        <strong>7.5.</strong>
        Пользователь соглашается, что информация, предоставленная ему как часть
        сайта rossinka-shop.ru, может являться объектом интеллектуальной
        собственности, права на который защищены и принадлежат другим
        Пользователям, партнерам или рекламодателям, которые размещают такую
        информацию на сайте rossinka-shop.ru. Пользователь не вправе вносить
        изменения, передавать в аренду, передавать на условиях займа, продавать,
        распространять или создавать производные работы на основе такого
        Содержания (полностью или в части), за исключением случаев, когда такие
        действия были письменно прямо разрешены собственниками такого Содержания
        в соответствии с условиями отдельного соглашения.
      </p>
      <p>
        <strong>7.6.</strong>
        В отношение текстовых материалов (статей, публикаций, находящихся в
        свободном публичном доступе на сайте rossinka-shop.ru) допускается их
        распространение при условии, что будет дана ссылка на rossinka-shop.ru.
      </p>
      <p>
        <strong>7.7.</strong>
        Администрация не несет ответственности перед Пользователем за любой
        убыток или ущерб, понесенный Пользователем в результате удаления, сбоя
        или невозможности сохранения какого-либо Содержания и иных
        коммуникационных данных, содержащихся на сайте rossinka-shop.ru или
        передаваемых через него.
      </p>
      <p>
        <strong>7.8.</strong>
        Администрация не несет ответственности за любые прямые или косвенные
        убытки, произошедшие из-за: использования либо невозможности
        использования сайта, либо отдельных сервисов; несанкционированного
        доступа к коммуникациям Пользователя; заявления или поведение любого
        третьего лица на сайте.
      </p>
      <p>
        <strong>7.9.</strong>
        Администрация не несет ответственность за какую-либо информацию,
        размещенную пользователем на сайте rossinka-shop.ru, включая, но не
        ограничиваясь: информацию, защищенную авторским правом, без прямого
        согласия владельца авторского права.
      </p>

      <h2>8. Разрешение споров</h2>
      <p>
        <strong>8.1.</strong>
        До обращения в суд с иском по спорам, возникающим из отношений между
        Пользователем и Администрацией, обязательным является предъявление
        претензии (письменного предложения или предложения в электронном виде о
        добровольном урегулировании спора).
      </p>
      <p>
        <strong>8.2.</strong>
        Получатель претензии в течение 30 календарных дней со дня получения
        претензии, письменно или в электронном виде уведомляет заявителя
        претензии о результатах рассмотрения претензии.
      </p>
      <p>
        <strong>8.3.</strong>
        При не достижении соглашения спор будет передан на рассмотрение
        Арбитражного суда г. Санкт-Петербург.
      </p>
      <p>
        <strong>8.4.</strong>
        К настоящей Политике конфиденциальности и отношениям между Пользователем
        и Администрацией применяется действующее законодательство Российской
        Федерации.
      </p>

      <h2>9. Дополнительные условия</h2>
      <p>
        <strong>9.1.</strong>
        Администрация вправе вносить изменения в настоящую Политику
        конфиденциальности без согласия Пользователя.
      </p>
      <p>
        <strong>9.2.</strong>
        Новая Политика конфиденциальности вступает в силу с момента ее
        размещения на сайте rossinka-shop.ru, если иное не предусмотрено новой
        редакцией Политики конфиденциальности.
      </p>
      <p>
        <strong>9.3.</strong>
        Все предложения или вопросы касательно настоящей Политики
        конфиденциальности следует сообщать по адресу: bugrov.spb@yandex.ru
      </p>
      <p>
        <strong>9.4.</strong>
        Действующая Политика конфиденциальности размещена на странице по адресу
        https://rossinka-shop.ru/privacy
      </p>

      <p class="privacy-update">
        <strong>Обновлено:</strong>
        11 июня 2025 г.<br />
        <strong>Санкт-Петербург, ИП Бугров О.С.</strong><br />
        <strong>ИНН</strong>
        691402948383
      </p>
    </div>

    <a href="/" class="back-button">← Вернуться на главную</a>
  </div>
</div>