<h2 id="about" class="content-title">О нас</h2>
<div class="about_us">
  <p>
    Компания «Липецкая Росинка» (АО «Компания Росинка») по
    производству и розливу безалкогольных и прохладительных напитков
    была основана в 2005 году на базе винодельческого и
    сокоминерального завода «Росинка», функционирующего с 1974 года.
  </p>
  <p>
    С 2006 года было начато глобальное технологическое
    переоборудование существующего производства, установлено полностью
    автоматизированное инновационное оборудование для производства и
    розлива минеральной воды и безалкогольных напитков.
  </p>
  <p>
    АО « Компания Росинка» работает по принципу технологии полного
    «чистого производства» – он включает в себя как чистоту розлива и
    производства, так и чистоту самого напитка от химических
    составляющих, добавок и консервантов. Асептические и ультраклин
    стерильные линии производства и розлива, позволяют производить
    безопасные и полезные напитки с сохранением всех свойств
    растительных ингредиентов и натуральных экстрактов.
  </p>
  <p>
    Компания «Росинка» является самым крупным проектом Sidel и Tetra
    Pak 2018 года в России и в Европе.
  </p>
  <p>
    Все производство построено на использовании только артезианских и
    минеральных вод. Скважина минеральных вод составляет 601 м и
    является первой самой глубокой в регионе.
  </p>
  <img src="/assets/drink1.jpg" alt='Картинка продукции "Росинка"' />
  <p>
    С 1 января 2018 года является эксклюзивным производителем и
    дистрибьютором холодного чая Nestea в России. Завод «Липецкая
    Росинка» был выбран для долгосрочного партнерства как
    соответствующий мировому качеству производства и высочайшим
    требованиям корпорации Nestlé.
  </p>
  <p>
    Но мы не стоим на месте, и в мае 2023 году на смену Nestea пришел
    полностью фирменный продукт нашей компании - холодный чай
    «Фрутмотив IceTea». При переходе был усовершенствован не только
    дизайн бутылки, но и состав продукта. Асептическая линия
    производства позволяет сохранить все полезные свойства
    растительных экстрактов и натуральных ингредиентов. Таким образом,
    ваш любимый холодный чай со знакомыми вкусами стал еще натуральнее
    и полезнее.
  </p>
  <p>
    Флагманские продукты компании «Липецкая Росинка»: артезианская и
    минеральная воды «Липецкая Росинка», линейка сокосодержащих
    напитков «Фрутмотив», сладкие газированные напитки, холодный чай
    «Фрутмотив IceTea».
  </p>
  <img src="/assets/drink2.jpg" alt="" />
  <p>
    Продукция завода «Липецкая Росинка» представлена в более чем 70
    тысячах торговых точек по всей России и во всех крупных
    федеральных сетях: «Окей», «Перекресток», «Пятерочка», «Магнит»,
    «Ашан», «Верный», «Лента», «Дикси», «Метро Кэш энд Керри», «Атак»,
    «Монетка».
  </p>
</div>