# Maven
target/
.mvn/
mvnw
mvnw.cmd
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
*.iws
*.iml
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/avatars/*
!uploads/avatars/.gitkeep

# Environment
.env
.env.local
