version: '3.8'

services:
  # Spring Boot приложение
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rosinka-app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://193.38.235.104:54320/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: M8mGNW6NTlOjWpJMFpFs33nGpEWKCSr2z50JV3b5P0qUdWVduYaygCfHMGHuWla1
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: true
      SERVER_PORT: 8081
      APP_UPLOAD_DIR: /app/uploads/avatars
    ports:
      - '8081:8081'
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
