spring:
  application:
    name: rosinka-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/rosinka
    username: postgres
    password: Cokolsuper12
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  devtools:
    restart:
      enabled: true
server:
  port: 8080
logging:
  level:
    com.rosinka.backend: DEBUG
    org.hibernate.SQL: DEBUG
